body {
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
  font-family: sans-serif;
  font-size: 25px;
  max-width: 800px;
}
body a {
  text-decoration: none;
}

body a:visited {
  color: rgb(44, 5, 95);
}
.head_nav {
  border: 1px solid rgb(2, 44, 127);
  border-radius: 5px;
  padding: 20px 0;
  margin-top: 5px;
}

.head_nav a {
  margin-left: 15px;
  border-radius: 5px;
  transition: all 5ms;
}

button {
  border-radius: 5px;
  transition: all 5ms;
}

body a:active,
body a:hover,
button:hover {
  cursor: pointer;
  display: inline-block;
  color: rgb(109, 187, 0);
  transform: scale(1.1);
}

.side_bar_nav {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
  padding: 10px;
  margin: 10px 0;
}

.payment_sec {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}

.side_bar_nav li {
  margin: 10px;
}

.main_section {
  display: flex;
  min-height: 70vh;
}

.main_section main {
  flex-grow: 1;
  background-color: rgb(245, 252, 249);
  padding: 10px;
}

.list_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item_card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgb(203, 243, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  height: fit-content;
}
.item_card > * {
  margin-top: 10px;
}
.item_card h3 {
  font-size: 25px;
}
.item_card button {
  padding: 10px;
}
.item_card button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sortingQueries {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
}
.sortingQueries > * {
  margin-left: 10px;
}

.user_form {
  border: 1px solid black;
  padding: 10px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  width: 50%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.user_form > * {
  margin: 10px;
}
.user_form input {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;

  margin-top: 10px;
  display: block;
}
.counter_form {
  text-align: left;
}
.counter_form input {
  display: block;
  margin: 10px 0;
  width: 40px;
}
.payment_sec {
  display: flex;
  justify-content: end;
  padding: 10px;
  align-items: center;
}

button {
  padding: 5px;
  background-color: rgb(3, 75, 51);
  color: azure;
  border: none;
}

.user_form label {
  position: relative;
}

.user_form label:before {
  /* content: "10 digit max"; */
  display: block;
  position: absolute;
  border-radius: 5px;
  font-size: 15px;
  right: 0;
  top: o;
  background-color: rgb(245, 217, 187);
  padding: 3px;
  opacity: 0;
  transition: opacity 1s ease;
}
.user_form label.user_name:before {
  content: "5 char max";
}
.user_form label.user_email:before {
  content: "enter valid email";
}

.user_form label.user_phone:before {
  content: "+380 <10 digits>";
}
.user_form label.user_address:before {
  content: "enter your address";
}

.user_form label:hover:before {
  opacity: 1;
}

.not_valid {
  background-color: rgb(244, 175, 175);
}

.valid {
  background-color: rgb(185, 242, 185);
}
.hint {
  position: relative;
}
.hint::before {
  content: "check your inputs";
  display: block;
  position: absolute;
  font-size: 15px;
  bottom: 50px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s ease;
  background-color: rgb(179, 202, 246);
}
.hint:hover:before {
  opacity: 1;
}
